<!-- <div class="container">
    <li *ngFor="let countrie of countries">
        {{countrie.name}}
    </li>
    <table class="table">

    </table>
</div> -->
<!-- <div class="card-columns">
    <div *ngFor="let release of releases" class="card">
        <img class="card-img-top" [src]="release.images | noimage" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{release.name}}</h5> -->
<!-- <p *ngFor="let artist of release.artists" class="card-text">{{artist.name}}</p> -->
<!-- <span *ngFor="let artist of release.artists" class="badge badge-light">{{artist.name}}</span>
        </div>
        <div class="card-footer">
            <small class="text-muted">Release Date: {{release.release_date}}</small>
        </div>
    </div>
</div> -->
<app-cards [items]="releases"></app-cards>